<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:yapont="http://yapont.yahtosistemas.com.br">

<head>
	<title>Cadastro de usuário</title>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${usuario.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/usuarios}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${usuario}" class="form-vertical  js-form-loading" 
                    th:action="${usuario.novo} ? @{/usuarios/novo} : 
                            @{/usuarios/{codigo}(codigo=${usuario.codigo})}">
			<yapont:message/>
			<div class="row">
                <div class="col-sm-2  form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control" readonly="readonly" th:field="*{codigo}"/>
                </div>
            </div>

			<div class="row">
				<div class="col-md-12 col-lg-3  form-group y-required" yapont:classforerror="cpf">
					<label for="cpf" class="control-label">CPF</label>
					<input id="cpf" type="text" class="form-control  js-mascara-cpf" th:field="*{cpf}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-md-12 col-lg-6  y-required" yapont:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
				</div>
				<div class="form-group  col-md-12 col-lg-6  y-required" yapont:classforerror="email">
					<label for="email" class="control-label">E-mail</label>
					<input type="text" class="form-control" id="email" th:field="*{email}"/>
				</div>
			</div>
				
			<div class="row">
				<div class="form-group  col-md-12 col-lg-3  y-required" yapont:classforerror="telefone">
					<label for="telefone" class="control-label">Telefone</label>
					<input type="text" class="form-control  js-phone-number" id="telefone" th:field="*{telefone}"/>
				</div>
				
				<div class="form-group  col-md-12 col-lg-3 y-required" yapont:classforerror="dataNascimento">
					<label for="dataNascimento" class="control-label">Data de nascimento</label>
					<input type="text" class="form-control  js-date" id="dataNascimento" th:field="*{dataNascimento}" autocomplete="off"/>
				</div>
				
				<div class="form-group  col-md-12 col-lg-3" yapont:classforerror="senha" th:classappend="${usuario.novo} ? y-required">
					<label for="senha" class="control-label">Senha</label> 
					<input type="password" class="form-control" id="senha" th:field="*{senha}"/>
				</div>
				
				<div class="form-group  col-md-12 col-lg-3" yapont:classforerror="senha">
					<label for="confirmacaoSenha" class="control-label">Confirmação de senha</label> 
					<input type="password" class="form-control" id="confirmacaoSenha" th:field="*{confirmacaoSenha}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-xs-12  y-required" yapont:classforerror="grupos">
					<label class="control-label">Grupos</label> 
					<div>
						<th:block th:each="grupo : ${grupos}">
	  						<div class="checkbox  checkbox-inline"> 
		    					<input type="checkbox" th:value="${grupo.codigo}" 
		    					    th:field="*{grupos}" class="js-grupos" th:data-grupo="${grupo.nome}"/>
		    					<label th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}">Administrador</label>
	    					</div>
	    				</th:block>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3 y-required" yapont:classforerror="dataCadastro">
					<label for="dataCadastro" class="control-label">Data de cadastro</label>
					<input type="text" class="form-control  js-date" th:disabled="disabled" id="dataCadastro" th:field="*{dataCadastro}" autocomplete="off"/>
				</div>
				
				<div class="form-group  col-sm-3">
					<label class="control-label">Situação</label>
					<div>
						<input type="checkbox" class="js-situacao" data-size="small" data-off-color="danger" 
							data-on-text="Ativo" data-off-text="Inativo" th:field="*{situacao}"/>
					</div>
				</div>
			</div>
			<button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/usuario.grupos.js}"></script>
</th:block>
</html>