/*
######################
# UTILIDADES
######################
*/

/*Configuração do menu*/
.y-logo-barra-navegacao {
	padding: 5px 7px;
	padding-left: 165px;
}
.y-logo-barra-navegacao > img{
	height:  40px;	
}

@media (min-width: 768px) {
	.y-icone-menu {
		margin-left: -10px;
	} 
}

.navbar {
	background: -webkit-linear-gradient(#0095da, #004869);
}
/*Fim configuracao menu*/

fieldset {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
}
legend {
    border: 0;
    margin: auto;
    width: auto;
}

.y-fieldset-exterior > fieldset {
	border: 3px solid #ccc;
}

.y-fieldset-exterior-nivel1 > fieldset {
	border: 2px solid #ccc;
}

.y-autocomplete li:first-child {
	margin-top: 30px;
}

.y-glyphicon-large {
	font-size: 18px;
}

.y-required > .control-label:after {
	content: "*";
}

/*
######################
# COMPONENTES
######################
*/

/* Field Action */
.y-field-action {
	display: flex;
}

.y-field-action__icon {
	margin: 6px 0 0 5px;
}

/* Tabela Simples */
.y-tabela-simples {
	margin-top: 50px;
}

.y-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.y-tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

.y-cabecalho-col-extra {
	border: 1px solid black;
	background: #e7eaec;
}

/*
###################
# PÁGINAS DO SISTEMA
###################
*/

/* ##############################*/
/* Colunas comuns */
/* ##############################*/
.table-col-acoes {
	min-width: 80px;
	width: 80px;
}

.table-col-codigo {
	min-width: 30px;
	width: 30px
}

.table-col-situacao {
	width: 50px;
}

/* ##############################*/
/* Colunas Pesquisa de apontamentos */
/* ##############################*/
.table-col-projeto {
	min-width: 350px;
    width: 400px;
}

.table-col-usuario {
	min-width: 200px;
    width: 250px;
}

.table-col-data-hora {
	min-width: 150px;
    width: 150px;
}

/*
######################################
# CUSTOMIZAÇÃO DE COMPONENTES
######################################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}

/* Upload */
.y-upload {
	padding: 15px;
	
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.y-upload-form-file {
	display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.y-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    
    font-size: 500px;
}

/*--------------------*\
  Dias dos apontamentos do mes
\*--------------------*/
.y-dia-apontamento {
  position: relative;

  padding: 10px;
  border: 1px solid #95a4a5;

  font-size: 1.4rem; /* 14px */
}

.y-layout-dias-apontamento-mes {
  padding: 0px;
}

@media(min-width: 1200px) {
  .y-layout-dias-apontamento-mes {
    padding: 0px 200px 0px 200px;
  }
}

@media(max-width: 749px) {
  .y-layout-dias-apontamento-mes .row > div:not(.ultima-coluna) {
    margin-bottom: 20px;
  }
}

.y-dia-apontamento__cabecalho {
  margin: -10px;
  margin-bottom: 0;

  background-color: #95a4a5;
  color: #fff;

  text-align: center;
  line-height: 2.5;
  font-weight: normal;
  font-size: 2em;
}

.y-hora-inicio {
	margin-top: 15px;
}
