<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:yapont="http://yapont.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de apontamento</title>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Apontamento de horas</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/apontamentos}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${apontamento}" class="form-vertical  js-form-loading" 
                    th:action="${apontamento.novo} ? @{/apontamentos/novo} : 
                            @{/apontamentos/{codigo}(codigo=${apontamento.codigo})}">
                            
            <yapont:message/>
            
            <div id="dia-apontamento" class="y-layout-dias-apontamento-mes">
					<div class="row">
		                <div class="col-sm-2  form-group">
		                    <label for="codigo">Código</label>
		                    <input id="codigo" type="text" class="form-control" readonly="readonly" th:field="*{codigo}"/>
		                </div>
		            </div>
		
					<div class="row">
		                <div class="form-group  col-lg-12   y-required" yapont:classforerror="projeto.codigo">
		                    <fieldset>
		                        <legend>Projeto</legend>
		                        <div class="row">
		                            <div class="form-group  col-md-12 col-lg-2">
		                                <label for="codigoProjeto">Código</label>
		                                <input id="codigoProjeto" type="text" class="form-control" readonly="readonly" th:field="*{projeto.codigo}"/>
		                            </div>
		                            <div class="form-group  col-md-12 col-lg-10">
		                                <label class="control-label" for="descricaoProjeto">Descrição</label>
		                                <div class="input-group">
		                                    <input id="descricaoProjeto" type="text" readonly="readonly" class="form-control" 
		                                        th:field="*{projeto.descricao}" placeholder="Clique na lupa para pesquisar o projeto"/>
		                                    <span class="input-group-btn">
		                                        <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa rápida"
		                                                data-toggle="modal" data-target="#pesquisaRapidaProjetos" th:disabled="${apontamento.detalhes}">
		                                            <i class="glyphicon  glyphicon-search"></i>
		                                        </button>
		                                     </span>
		                                </div>
		                            </div>
		                        </div>
		                    </fieldset>
		                </div>
		            </div>
		
             
					<div class="row  js-dia-apontamento" th:classappend="*{projeto.codigo == null}  ? 'hidden'">
						<div class="col-lg-12">
							<article class="y-dia-apontamento">
							    <input type="hidden" id="dataApontamento" th:field="*{dataApontamento}"/>
								<h3 class="y-dia-apontamento__cabecalho  js-dia-da-semana-apontamento"
								    th:text="${apontamento.diaDaSemanaApontamento}">15/01/2018</h3>
								<div class="row">
									<div class="col-xs-12  form-group  y-hora-inicio" yapont:classforerror="horarioInicio">
										<label for="horarioInicio" class="control-label">Horário inicio</label>
										<input id="horarioInicio" type="text" class="form-control  js-hour"	th:field="*{horarioInicio}" />
									</div>
		
									<div class="col-xs-12  form-group" yapont:classforerror="horarioFim">
										<label for="horarioFim" class="control-label">Horário fim</label>
										<input id="horarioFim" type="text" class="form-control  js-hour" th:field="*{horarioFim}" />
									</div>
		
									<div class="form-group  col-xs-12">
										<textarea class="form-control" id="observacao" rows="5"
											placeholder="Alguma observação a ser adicionada?"
											th:field="*{observacao}" maxlength="2000">
										                            </textarea>
									</div>
								</div>
							</article>
						</div>
					</div>
        		
        			<button type="submit" class="btn  btn-primary js-dia-apontamento"
        			     th:classappend="*{projeto.codigo == null}  ? 'hidden'" style="margin-top: 15px">Salvar</button>
                </div>
		</form>
	</div>
	
	<th:block th:replace="projeto/PesquisaRapidaProjetos :: pesquisaRapidaProjetos"></th:block>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/apontamento.js}"></script>
    <script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
    <script th:src="@{/javascripts/projeto.pesquisa-rapida.js}"></script>
</th:block>
</html>