<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:yapont="http://yapont.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de apontamentos</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de apontamentos</h1>
				</div>
				
				<div class="col-xs-2" sec:authorize="hasRole('OPERACIONAL')">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/apontamentos/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Registrar apontamento</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${apontamentoFilter}" th:action="@{/apontamentos}">
			<div class="row">
                <div class="form-group col-xs-12  col-lg-6" sec:authorize="hasRole('ADMINISTRADOR')">
                    <label class="control-label" for="nomeUsuario">Nome do usuário</label>
                    <input type="text" class="form-control" id="nomeUsuario" th:field="*{usuario.nome}"/>
                </div>
				<div class="form-group col-xs-12  col-lg-3">
					<label class="control-label" for="dataInicio">Data inicio</label>
					<input type="text" class="form-control js-date" id="dataInicio" th:field="*{dataInicio}"/>
				</div>
				
				<div class="form-group  col-xs-12 col-lg-3">
					<label class="control-label" for="dataFim">Data fim</label>
					<input type="text" class="form-control js-date" id="dataFim" th:field="*{dataFim}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
	            		<th class="table-col-codigo">Código</th>
	                	<th class="table-col-projeto">Projeto</th>
	                	<th class="table-col-usuario" sec:authorize="hasRole('ADMINISTRADOR')">Usuário</th>
	                	<th class="table-col-data-hora">Data e hora inicio</th>
	                	<th class="table-col-data-hora">Data e hora fim</th>
	                 	<th class="table-col-observacao">Observação</th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="apontamento : ${pagina.conteudo}">
						<td th:text="${apontamento.codigo}"></td>
						<td th:text="${apontamento.projeto.descricao}"></td>
						<td sec:authorize="hasRole('ADMINISTRADOR')" th:text="${apontamento.usuario.nome}"></td>
						<td th:text="${{apontamento.dataHoraEntrada}}"></td>
						<td th:text="${{apontamento.dataHoraSaida}}"></td>
						<td th:text="${apontamento.observacao}"></td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="5">Nenhum apontamento encontrado</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 <yapont:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>