<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:yapont="http://gerenciadorMotel.yahtosistemas.com.br"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

		<nav class="aw-menu  js-menu">
			<ul class="aw-menu__list">
				<li class="aw-menu__item" yapont:menu="@{/}">
					<a th:href="@{/}">
						<i class="fa  fa-fw  fa-home"></i><span>Dashboard</span>
					</a>
				</li>

				<li class="aw-menu__item">
					<a href="#">
						<i class="fa  fa-fw  fa-database"></i> <span>Cadastro</span> 
						<i class="aw-menu__navigation-icon  fa"></i>
					</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" yapont:menu="@{/usuarios.*}"
						      sec:authorize="hasRole('ADMINISTRADOR')">
                            <a th:href="@{/usuarios}">Usuários</a>
                        </li>
                        <li class="aw-menu__item  aw-menu__item--link" yapont:menu="@{/usuarios.*}"
                                th:unless="${#authorization.request.isUserInRole('ADMINISTRADOR')}"
                                sec:authorize="hasRole('OPERACIONAL')">
                            <a th:href="@{/usuarios/{codigo}(codigo=${#authentication.principal.usuario.codigo})}">Usuário</a>
                        </li>
					</ul>
					
					<ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link" yapont:menu="@{/projetos.*}">
                            <a th:href="@{/projetos}">Projetos</a>
                        </li>
                    </ul>
				</li>
				
				<li class="aw-menu__item">
                    <a href="#">
                        <i class="fa  fa-fw  fa-database"></i> <span>Apontamento</span> 
                        <i class="aw-menu__navigation-icon  fa"></i>
                    </a>

                    <ul class="aw-menu__list  aw-menu__list--sublist" sec:authorize="hasRole('OPERACIONAL')">
                        <li class="aw-menu__item  aw-menu__item--link" yapont:menu="@{/apontamentos/novo}">
                            <a th:href="@{/apontamentos/novo}">Registrar apontamento</a>
                        </li>
                    </ul>
                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link" yapont:menu="@{/apontamentos}">
                            <a th:href="@{/apontamentos}">Apontamentos</a>
                        </li>
                    </ul>
                </li>

				<li class="aw-menu__item">
					<a href="#"> 
						<i class="fa  fa-fw  fa-file-pdf-o"></i><span>Relatório</span>
						<i class="aw-menu__navigation-icon  fa"></i>
					</a>
					<!--  
					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link">
							<a href="pagina-vazia.html">Processo cliente</a>
						</li>
					</ul>
					-->
				</li>
			</ul>
		</nav>
	</div>
</aside>
</body>
</html>