<script id="tabela-pesquisa-rapida-projeto" type="text/x-handlebars-template">
<div class="table-responsive  y-tabela-simples" style="margin-top: 15px">
	<table class="table  table-hover">
		<thead>
			<tr>
				<th class="col-sm-2">Código</th>
				<th class="col-sm-2">Descrição</th>
			</tr>
		</thead>
				
		<tbody>
			{{#if .}}
				{{#each .}}
					<tr data-codigo="{{codigo}}" data-descricao="{{descricao}}" class="js-projeto-pesquisa-rapida">
						<td>{{codigo}}</td>
						<td>{{descricao}}</td>
 					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="2">Nenhum projeto encontrado</td>
				</tr>
			{{/if}}
		</tbody>
	</table>
</div>
</script>
