<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:yapont="http://yapont.yahtosistemas.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de projeto</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}"/>
    <link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}"/>
	
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:text="${projeto.tituloCadastro}"></h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/projetos}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${projeto}" class="form-vertical  js-form-loading" 
                    th:action="${projeto.novo} ? @{/projetos/novo} : 
                            @{/projetos/{codigo}(codigo=${projeto.codigo})}">
                            
            <yapont:message/>
            <input type="hidden" id="uuid" th:field="*{uuid}"/>
            
			<div class="row">
                <div class="col-sm-2  form-group">
                    <label for="codigo">Código</label>
                    <input id="codigo" type="text" class="form-control" readonly="readonly" th:field="*{codigo}"/>
                </div>
            </div>

			<div class="row">
                <div class="form-group  col-md-12 col-lg-2 y-required" yapont:classforerror="statusProjeto">
                    <label for="statusProjeto" class="control-label">Status</label>
                    <select id="statusProjeto" class="form-control" th:field="*{statusProjeto}" th:disabled="${projeto.detalhes}">
                        <option value="">Selecione o status</option>
                        <option th:each="statusProjeto : ${osStatusProjeto}" 
                            th:value="${statusProjeto}" th:text="${statusProjeto.descricao}">Em andamento
                        </option>
                    </select>
                </div>
                
				<div class="col-md-12 col-lg-8  form-group y-required" yapont:classforerror="descricao">
					<label for="descricao" class="control-label">Descrição</label>
					<input id="descricao" type="text" class="form-control" th:field="*{descricao}" 
					   th:disabled="${projeto.detalhes}" maxlength="200"/>
				</div>

                <div class="col-md-12 col-lg-2  form-group y-required" yapont:classforerror="dataCadastro">
                    <label for="dataCadastro" class="control-label">Data de cadastro</label>
                    <input id="dataCadastro" type="text" class="form-control js-date" th:disabled="disabled" th:field="*{dataCadastro}" autocomplete="off"/>
                </div>
			</div>
			
			<div class="row">
                <div class="form-group  col-md-12  col-lg-6  y-fieldset-exterior" yapont:classforerror="usuarios">
                    <fieldset>
                        <legend>Usuário(s)</legend>
                        <input type="text" class="form-control  js-nome-usuario-input" id="usuarios" 
                            placeholder="Pesquise e adicione o usuário pelo nome" autofocus="autofocus"
                            data:url="@{/usuarios/filtro-cadastro-projeto}" th:unless="${projeto.detalhes}"/>
    
                        <div class="js-tabela-usuarios-container">
                            <th:block th:replace="projeto/TabelaUsuariosProjeto"/>
                        </div>
                    </fieldset>
                </div>
                
                <div class="form-group  col-md-12  col-lg-6  y-fieldset-exterior">
                    <fieldset>
                        <legend>Observação</legend>
                        <div class="row">
                            <div class="form-group  col-xs-12">
                                <label for="observacao" class="control-label"></label>
                                <textarea class="form-control" id="observacao" rows="5" maxlength="500"
                                    th:field="*{observacao}" placeholder="Alguma observação para ser adicionada?" th:disabled="${projeto.detalhes}">
                                </textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
			
			<button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/projeto.tabela-usuarios.js}"></script>
</th:block>
</html>