<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:yapont="http://yapont.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
	<title>Pesquisa de usuários</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de projetos</h1>
				</div>
				
				<div class="col-xs-2" sec:authorize="hasRole('ADMINISTRADOR')">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/projetos/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo projeto</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${projetoFilter}" th:action="@{/projetos}">
			<div class="row">
				<div class="form-group col-xs-12  col-lg-2">
					<label class="control-label" for="nome">Código</label>
					<input type="text" class="form-control" id="codigo" autofocus="autofocus" th:field="*{codigo}"/>
				</div>
				
				<div class="form-group  col-xs-12">
					<label class="control-label" for="descricao">Descrição</label>
					<input type="text" class="form-control" id="descricao" th:field="*{descricao}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
        	<table class="table  table-hover">
	            <thead>
	            	<tr>
	            		<th>Código</th>
	                	<th>Descrição</th>
	                	<th>Usuário(s)</th>
	                	<th>Status</th>
	                 	<th class="table-col-acoes" sec:authorize="hasRole('ADMINISTRADOR')"></th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="projeto : ${pagina.conteudo}">
						<td th:text="${projeto.codigo}"></td>
						<td th:text="${projeto.descricao}"></td>
						<td>
							<span th:each="usuario : ${projeto.usuarios}" th:text="|${usuario.nome}${usuarioStat.last ? '' : ', '}|"></span>
						</td>
						<td th:text="${projeto.statusProjeto.descricao}"></td>
	                 	<td class="text-center" sec:authorize="hasRole('ADMINISTRADOR')">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar"
									th:href="@{/projetos/{codigo}(codigo=${projeto.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/projetos/{codigo}(codigo=${projeto.codigo})}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="5">Nenhum projeto encontrado</td>
	                </tr>
	             </tbody>
         	</table>
    	 </div>
    	 <yapont:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>