<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

	<div class="table-responsive">
		<table class="table  table-striped">
			<thead>
				<tr>
					<th class="table-col-codigo">Código</th>
					<th>CPF</th>
					<th>Nome</th>
					<th class="table-col-acoes"></th>
				</tr>
			</thead>
	
			<tbody>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.codigo}"></td>
					<td th:text="${usuario.cpf}"></td>
					<td th:text="${usuario.nome}"></td>
					<td class="text-center">
						<a class="btn  btn-link  btn-xs" title="Excluir" th:unless="${usuario.detalhes}"> 
							<span data:codigo-usuario="${usuario.codigo}" 
								class="glyphicon glyphicon-remove  js-exclusao-usuario">
							</span>
						</a>
					</td>
				</tr>
				<tr>
					<td colspan="3" th:if="${#lists.isEmpty(usuarios)}">Nenhuma usuário encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>
</html>